* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all .15s ease;
}
:root {
    --color-page-background  : #{$background-color};
    --color-second-background: #{$second-background-color};
    --color-third-background : #{$secondary-color};
    --color-text             : #{$color-text};
    --color-second-text      : #{$second-color-text};
    --primary-color          : #{$primary-color};
    --img-logo               : #{$mobile-logo};
    --img-find               : #{$icon-search};
    --img-close              : #{$icon-close};
    --color-primary-white    : #{$primary-color};
}

.dark {
    --color-page-background  : #{$dark-background-color};
    --color-second-background: #{$dark-second-background-color};
    --color-third-background : #{$dark-third-background-color};
    --color-text             : #{$dark-color-text};
    --color-second-text      : #{$dark-second-color-text};
    --primary-color          : #{$dark-primary-color};
    --img-logo               : #{$dark-mobile-logo};
    --img-find               : #{$dark-icon-search};
    --img-close              : #{$dark-icon-close};
    --color-primary-white    : #{$dark-second-color-text};
}

body{
    background-color: var(--color-page-background);
    color: var(--color-text);
}

#container {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    margin: 0;
}

#container header{
    grid-area: header;
}

#container main{
    grid-area: main;
}

#container footer{
    grid-area: footer;
}
