#welcome{
    h1{
        font-family: $font;
        font-size: 25px;
        color: var(--color-text);
        text-align: center;
        line-height: 33px;
        margin: 0 auto;
        width: 286px;
        padding-top: 4%;
        span {
            color: $thirty-color;
        }
    }
    .input-container{
        text-align: center;
        padding-top: 10%;
        #img-search{
            width: 273px;
            height: 130px;
        }
        #search{
            position: relative;
            display: flex;
            flex-direction: column;
            place-items: center;
            &.active{
                input{
                    border-bottom-right-radius: 0px;
                    border-bottom-left-radius: 0px;
                }
                #img-find{
                    left: 14%;
                    top: 4%;
                }
                #img-close{
                    display: block;
                    position: absolute;
                    right: 14%;
                    top: 6%;
                }
                #search-results{
                    display: block;
                    border-top: hidden;
                    border-bottom-right-radius: 27px;
                    border-bottom-left-radius: 27px;
                }
            }
            input{
                background: var(--color-page-background);
                border: 1px solid var(--color-text);
                border-radius: 27px;
                width: 334px;
                height: 50px;
                margin-top: -0.3rem;
                font-family: "Roboto";
                font-size: 16px;
                color: var(--color-second-text);
                text-align: left;
                padding: 1.2% 17.1% 1.1% 14.7%;
                outline: none;
            }
            #img-find{
                content: var(--img-find);
                position: absolute;
                right: 16%;
                top: 22%;
            }
            #img-close{
                display: none;
            }
            #search-results{
                height: auto;
                max-height: 200px;
                overflow-y: scroll;
                background: var(--color-page-background);
                border: 1px solid $primary-color;
                width: 334px;
                margin-top: -0.3rem;
                text-align: center;
                display: none;
                ul{
                    list-style-type: none;
                    border-top: 1px solid #9CAFC3;
                    margin: 0 7%;
                    text-align: left;
                    li{
                        margin: 4% 0;
                        font-family: 'Roboto';
                        font-weight: 300;
                        font-size: 16px;
                        color: var(--color-second-text);
                        img{
                            content: var(--img-find);
                            width: 15.8px;
                            height: 15.8px;
                            margin-right: 3.5%;
                        }
                    }
                }
            }
        }
    }
    .trending{
        padding-top: 7%;
        h3{
            font-family: $font;
            font-size: 16px;
            color: var(--color-text);
            text-align: center;
            line-height: 25px;
        }
        p{
            font-family: $font;
            font-size: 14px;
            color: var(--color-second-text);
            text-align: center;
            line-height: 25px;
            width: 225px;
            margin: 0 auto;
            word-wrap: break-word;
        }
    }
}

#trending-GIFOS{
    background: var(--color-second-background);
    margin-top: 20%;
    padding-top: 8%;
    height: 430px;
    max-width: 100vw;
    width: 100vw;
    h2{
        font-family: $font;
        font-size: 20px;
        color: var(--color-text);
        text-align: center;
        line-height: 30px;
        padding: 1%;
    }
    p{
        padding: 1%;
        font-family: "Roboto";
        font-size: 16px;
        color: var(--color-second-text);
        text-align: center;
        line-height: 23px;
        width: 333px;
        height: 46px;
        margin: 0 auto;
    }
    .trending-carrousel{
        max-height: 187px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin: 32px 22px 82px 22px;
        overflow-x: scroll;
        img{
            width: 243px;
            height: 187px;
            margin-right: 22px;
            object-fit: cover;
        }
    }
}

#results{
    margin: 8% 3%;
    text-align: center;
    .hr{
        width: 157px;
        margin: 0 auto;
        padding: 0.1px;
        background: #9CAFC3;
        opacity: 0.5;
    }
    h1{
        font-family: $font;
        font-weight: bold;
        font-size: 25px;
        color: $primary-color;
        text-align: center;
        line-height: 40px;
        margin: 8% 0 5%;
        &.favorites{
            font-family: $font;
            font-weight: bold;
            font-size: 20px;
            color: $primary-color;
            text-align: center;
            line-height: 30px;
            margin: 0;
        }
    }
    .container-results{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin: 5% 0 20%;
        img{
            display: flex;
            flex: 1 1 120px;
            margin: 5px;
            width: 156px;
            height: 120px;
        }
    }
    #load-more{
        border: 1px solid $primary-color;
        border-radius: 25px;
        width: 127px;
        height: 50px;
        font-family: "Montserrat", sans-serif;
        font-weight: bold;
        font-size: 13px;
        color: $primary-color;
        letter-spacing: 0;
        padding: 4% 10%;
        text-align: center;
        text-decoration: none;
    }
}

.mobile-card{
    width: 100vw;
    height: 100vh;
    background: var(--color-page-background);
    opacity: 100%;
    position: fixed;
    overflow-y: scroll;
    z-index: 99999;
    #closeModal{
        background: url('../images/close.svg');
        position: absolute;
        right: 9%;
        top: 10%;
        width: 13.8px;
        height: 13.8px;
    }
    #img-container{
        margin: 45% 7.5% 31.3% 7.7%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        #options{
            width: 100%;
            display: grid;
            grid-template-columns: 70% 1fr 1fr;
            margin-top: 4%;
            align-items: center;
            #gifUser{
                font-family: 'Roboto';
                font-size: 16px;
                color: #000000;
            }
            #gifTitle{
                font-family: $font;
                font-weight: bold;
                font-size: 15px;
                color: #000000;
            }
            #download{
                opacity: 0.5;
                border: 1px solid #9CAFC3;
                border-radius: 6px;
                border-radius: 6px;
                color: rgba(156,175,195,1);
                padding: 2%;
                img{
                    padding: 3% 15%;
                }
            }
            #like,#download{
                margin: 0 auto;
            }
        }
        #img{
            width: 100%;
            height: 245px;
            object-fit: cover;
        }
    }
}