#welcome{
    h1{
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: $primary-color;
        text-align: center;
        line-height: 33px;
        margin: 0 auto;
        width: 286px;
        padding-top: 4%;
        span {
            color: $thirty-color;
        }
    }
    .input-container{
        text-align: center;
        padding-top: 10%;
        
        #img-search{
            width: 273px;
            height: 130px;
        }
        #search{
            position: relative;
            input{
                background: #FFFFFF;
                border: 1px solid $primary-color;
                border-radius: 27px;
                width: 334px;
                height: 50px;
                margin-top: -0.3rem;
                font-family: "Roboto-Regular";
                font-size: 16px;
                color: #000000;
                text-align: left;
                padding: 1.2% 17.1% 1.1% 14.7%;
            }
            #img-find{
                position: absolute;
                right: 16%;
                top: 22%;
            }
        } 
    }
    .trending{
        padding-top: 7%;
        h3{
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
            color: $primary-color;
            text-align: center;
            line-height: 25px;
        }
        p{
            font-family: 'Montserrat', sans-serif;
            font-size: 14px;
            color: $primary-color;
            text-align: center;
            line-height: 25px;
            width: 225px;
            margin: 0 auto;
        }
    }
}

#trending-GIFOS{
    background-color: #F3F5F8;
    margin-top: 10%;
    padding-top: 8%;
    height: 430px;
    h2{
        font-family: 'Montserrat', sans-serif;
        font-size: 20px;
        color: $primary-color;
        text-align: center;
        line-height: 30px;
        padding: 1%;
    }
    p{
        padding: 1%;
        font-family: "Roboto";
        font-size: 16px;
        color: #000000;
        text-align: center;
        line-height: 23px;
        width: 333px;
        height: 46px;
        margin: 0 auto;
    }
    .trending-carrousel{
        max-width: 243px;
        max-height: 187px;
        display: flex;
        overflow-x: scroll
        margin 5%;
        img{
            width: 243px;
            height: 187px;
        }
    }
}