//Colors

//Light Theme
$primary-color   : #572EE5;
$secondary-color : rgba(87,46,229,0.90);
$thirty-color    : #5ED7C6;
$background-color: #FFF;
$secound-background-color: #F3F5F8;
$color-text : $primary-color;
$mobile-logo : url('../images/logo-mobile.svg');



//Dark theme
$dark-background-color : #37383C;
$dark-secound-background-color: #222326;
$dark-color-text : #FFFFFF;
$dark-primary-color : #37383C;
$dark-secondary-color : #222326;
$dark-mobile-logo : url('../images/logo-mobile-modo-noct.svg');


//Font
$font : 'Montserrat', sans-serif;