//Colors

//Light Theme
$primary-color          : #572EE5;
$secondary-color        : rgba(87,46,229,0.90);
$thirty-color           : #5ED7C6;
$background-color       : #FFF;
$second-background-color: #F3F5F8;
$color-text             : $primary-color;
$second-color-text      : #000;
$mobile-logo            : url('../images/logo-mobile.svg');
$desktop-logo           : url('../images/logo-desktop.svg');
$icon-search            : url('../images/icon-search.svg');
$icon-close             : url('../images/close.svg');



//Dark theme
$dark-background-color       : #37383C;
$dark-second-background-color: #222326;
$dark-third-background-color : #000;
$dark-color-text             : #FFFFFF;
$dark-second-color-text      : #FFF;
$dark-primary-color          : #000;
$dark-secondary-color        : #222326;
$dark-mobile-logo            : url('../images/logo-mobile-modo-noct.svg');
$dark-icon-search            : url('../images/icon-search-mod-noc.svg');
$dark-icon-close             : url('../images/close.svg');


//Font
$font : 'Montserrat', sans-serif;