* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .15s ease;
  transition: all .15s ease;
}

:root {
  --color-page-background: #FFF;
  --color-second-background: #F3F5F8;
  --color-text: #572EE5;
  --img-logo: url("../images/logo-mobile.svg");
}

.dark {
  --color-page-background: #37383C;
  --color-second-background: #222326;
  --color-text: #FFFFFF;
  --img-logo: url("../images/logo-mobile-modo-noct.svg");
}

body {
  background-color: var(--color-page-background);
  color: var(--color-text);
}

#container {
  display: -ms-grid;
  display: grid;
      grid-template-areas: "header" "main" "footer";
  margin: 0;
}

#container header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
}

#container main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: main;
}

#container footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: footer;
}

.header {
  background: var(--color-page-background);
  width: 100%;
  height: 95px;
  z-index: 3;
}

.header #elements-header {
  width: 100%;
}

.header #elements-header img {
  content: var(--img-logo);
}

.header .m-elements-header {
  margin: 29px 0 17.2px 22px;
}

.header img {
  width: 48px;
  height: 48px;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li {
  height: 60px;
  text-align: center;
  padding: 1%;
  margin: 2%;
}

.header li a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #FFFFFF;
  text-align: center;
  line-height: 60px;
}

.header .menu-btn:checked ~ .menu li i {
  width: 42px;
  background: white;
  display: block;
  padding: 0.1px;
  margin: 0px auto;
}

.header li a:hover, .header .menu-btn:hover {
  background-color: #572EE5;
  color: #fff;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.header .menu {
  clear: both;
  max-height: 0;
  background: rgba(87, 46, 229, 0.9);
}

.header .border {
  height: 5px;
  background: #572EE5;
}

.header .menu-icon {
  cursor: pointer;
  float: right;
  position: relative;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  color: #572EE5;
  padding: 47px 26px 34px 0;
}

.header .menu-icon .navicon {
  background: #572EE5;
  display: block;
  height: 2px;
  position: relative;
  -webkit-transition: background .2s ease-out;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #572EE5;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  -webkit-transition: all .2s ease-out;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  height: 100vh;
  max-height: 100vh;
  min-height: 0;
  padding-top: 17px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
    margin-right: 6%;
  }
  .header .menu-icon {
    display: none;
  }
}

#welcome h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 33px;
  margin: 0 auto;
  width: 286px;
  padding-top: 4%;
}

#welcome h1 span {
  color: #5ED7C6;
}

#welcome .input-container {
  text-align: center;
  padding-top: 10%;
}

#welcome .input-container #img-search {
  width: 273px;
  height: 130px;
}

#welcome .input-container #search {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  place-items: center;
}

#welcome .input-container #search.active input {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

#welcome .input-container #search.active #img-find {
  left: 12%;
  top: 4%;
}

#welcome .input-container #search.active #img-close {
  display: block;
  position: absolute;
  right: 11%;
  top: 8%;
}

#welcome .input-container #search.active #search-results {
  display: block;
  border-top: hidden;
  border-bottom-right-radius: 27px;
  border-bottom-left-radius: 27px;
}

#welcome .input-container #search input {
  background: #FFFFFF;
  border: 1px solid #572EE5;
  border-radius: 27px;
  width: 334px;
  height: 50px;
  margin-top: -0.3rem;
  font-family: "Roboto-Regular";
  font-size: 16px;
  color: #000000;
  text-align: left;
  padding: 1.2% 17.1% 1.1% 14.7%;
  outline: none;
}

#welcome .input-container #search #img-find {
  position: absolute;
  right: 16%;
  top: 22%;
}

#welcome .input-container #search #img-close {
  display: none;
}

#welcome .input-container #search #search-results {
  height: auto;
  max-height: 200px;
  overflow-y: scroll;
  background: #FFF;
  border: 1px solid #572EE5;
  width: 334px;
  margin-top: -0.3rem;
  text-align: center;
  display: none;
}

#welcome .input-container #search #search-results ul {
  list-style-type: none;
  border-top: 1px solid #9CAFC3;
  margin: 0 7%;
  text-align: left;
}

#welcome .input-container #search #search-results ul li {
  margin: 4% 0;
  font-family: 'Roboto';
  font-weight: 300;
  font-size: 16px;
  color: #000000;
}

#welcome .input-container #search #search-results ul li img {
  width: 15.8px;
  height: 15.8px;
  margin-right: 3.5%;
}

#welcome .trending {
  padding-top: 7%;
}

#welcome .trending h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
}

#welcome .trending p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #572EE5;
  text-align: center;
  line-height: 25px;
  width: 225px;
  margin: 0 auto;
  word-wrap: break-word;
}

#trending-GIFOS {
  background: var(--color-second-background);
  margin-top: 20%;
  padding-top: 8%;
  height: 430px;
  max-width: 100vw;
  width: 100vw;
}

#trending-GIFOS h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  padding: 1%;
}

#trending-GIFOS p {
  padding: 1%;
  font-family: "Roboto";
  font-size: 16px;
  color: #000000;
  text-align: center;
  line-height: 23px;
  width: 333px;
  height: 46px;
  margin: 0 auto;
}

#trending-GIFOS .trending-carrousel {
  max-height: 187px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 32px 22px 82px 22px;
  overflow-x: scroll;
}

#trending-GIFOS .trending-carrousel img {
  width: 243px;
  height: 187px;
  margin-right: 22px;
  -o-object-fit: cover;
     object-fit: cover;
}

#results {
  margin: 8% 3%;
  text-align: center;
}

#results .hr {
  width: 157px;
  margin: 0 auto;
  padding: 0.1px;
  background: #9CAFC3;
  opacity: 0.5;
}

#results h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 25px;
  color: #572EE5;
  text-align: center;
  line-height: 40px;
  margin: 8% 0 5%;
}

#results h1.favorites {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 20px;
  color: #572EE5;
  text-align: center;
  line-height: 30px;
  margin: 0;
}

#results .container-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 5% 0 20%;
}

#results .container-results img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 120px;
          flex: 1 1 120px;
  margin: 5px;
  width: 156px;
  height: 120px;
}

#results #load-more {
  border: 1px solid #572EE5;
  border-radius: 25px;
  width: 127px;
  height: 50px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #572EE5;
  letter-spacing: 0;
  padding: 4% 10%;
  text-align: center;
  text-decoration: none;
}

.mobile-card {
  width: 100vw;
  height: 100vh;
  background: rgba(255, 255, 255, 0.9);
  opacity: 100%;
  position: fixed;
  overflow-y: scroll;
  z-index: 99999;
}

.mobile-card #closeModal {
  background: url("../images/close.svg");
  position: absolute;
  right: 9%;
  top: 10%;
  width: 13.8px;
  height: 13.8px;
}

.mobile-card #img-container {
  margin: 45% 7.5% 31.3% 7.7%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-card #img-container #options {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 70% 1fr 1fr;
      grid-template-columns: 70% 1fr 1fr;
  margin-top: 4%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mobile-card #img-container #options #gifUser {
  font-family: 'Roboto';
  font-size: 16px;
  color: #000000;
}

.mobile-card #img-container #options #gifTitle {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 15px;
  color: #000000;
}

.mobile-card #img-container #options #download {
  opacity: 0.5;
  border: 1px solid #9CAFC3;
  border-radius: 6px;
  border-radius: 6px;
  color: #9cafc3;
  padding: 2%;
}

.mobile-card #img-container #options #download img {
  padding: 3% 15%;
}

.mobile-card #img-container #options #like, .mobile-card #img-container #options #download {
  margin: 0 auto;
}

.mobile-card #img-container #img {
  width: 100%;
  height: 245px;
  -o-object-fit: cover;
     object-fit: cover;
}

footer {
  width: 100%;
  height: 196px;
  color: #FFF;
  position: relative;
}

footer h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  color: #000000;
  letter-spacing: 0;
  font-weight: 400;
  margin: 10% 0 5% 0;
  text-align: center;
}

footer .border {
  height: 5px;
  background: #572EE5;
  position: absolute;
  bottom: 0;
  margin: 0 auto;
  width: 100%;
}

footer .social {
  text-align: center;
}

footer .social img {
  margin: 0 2.5%;
}

footer p {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: #000000;
  letter-spacing: 0;
  line-height: 20px;
  text-align: center;
  margin: 9% 0 5.5%;
}

.d-none {
  display: none;
}
/*# sourceMappingURL=style.css.map */